.footer {
  margin: 3em 0;
}

#report-body,
h2 {
  padding-top: 80px;
  margin-top: -40px;
}

.fa,
h2 {
  color: #BC0C0C;
}

a:link {
  color: #BC0C0C;
  
}

#masthead { 
 min-height:250px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width: 180px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    left: 10px;
    width: 200px;
  }
}

#sidebar li.active {
  border:0 #CAAEAE solid;
  border-right-width:5px;
}

#sidebar a,
.well a {
  color: black;
}

#social-container .fa {
  font-size: 3em;
}

#social-footer > #social-container .fa {
  font-size: 0.5em !important;
}

#social-container a {
  margin: 0.25em;
}

#contact-container {
  margin-top: 15rem;
}

#github-like-button {
  margin-left: 3em;
}