<template name="homepage">
<div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Innovation and Technology in Southern Ontario
            <p class="lead">Review of Hamilton, Toronto and Waterloo</p>
          </h1>
        </div>
        <div class="col-md-5">
            <div class="well well-lg"> 
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-4">
                  <img src="db2014headshot.jpg" class="img-responsive">
                </div>
                <div class="col-sm-6">
                  <p>by Derek Braid</p>
                  <p>Web Development, Research and Data Visualization</p>
                  <p><a href="http://www.cacheflow.ca/" target="_blank">cacheflow.ca</a></p>
                  
                  
                  {{> social}}
                </div>
              </div>
            </div>
        </div>
      </div> 
  </div><!--/container-->
</div><!--/masthead-->

<!--main-->
<div class="container">
  <div class="row">
      <!--left-->
      <div class="col-md-3" id="leftCol">
        {{> sidebar }}
      </div><!--/left-->
      
      <!--right-->
      <div class="col-md-9">
        {{> summary }}
        
        <hr>

        {{> intro }}
        
        <hr>
        
        <h2 id="software">Software</h2>
        <p>
          Every company in every industry has to figure out what it means to be a software company.
        </p>

        <p>Company-as-application-provider might sound abstract, but it's more familiar than first appears: serve the end-users -- your valued customers -- with unqiue, tailored, individualized functionality that constantly evolves in real time as new products and services roll out.
        </p>

        <p>A quarter of the jobs — from analysts to entrepreneurs and CEOs — are as much about business as technology. Others combine information technology with life science, security, analytics, marketing, gaming, art and design — you name it. Students, parents, teachers and the public at large need to hear this new narrative.</p>

        <p>Y Combinator is a world-famous start-up accelerator.  It's a model for success in modern software-driven business ecosystem in Silicon Valley.  They will fund non-technical founder, but state in <a href="www.ycombinator.com/faq/">their FAQ</a>: 
        <blockquote>
        <p>Q: "I have a great idea for a startup, but I'm not technical. Will you still fund me? Can you help me find programmers to implement my idea?"</p>
        <p>A: "We'll consider funding you, but your chances are about <strong>10x better</strong> if you find yourself a technical cofounder."</p>  
          
        </blockquote>   
        </p>  

<p>## Software is eating the world.

Salaries for developers is well above average, demand for their services is high.  But lets start with a macro view of the labout market.

The "3rd Platform of Computing" is social, mobile, cloud and big data.  Transforming IT much faster than the first (mainframe) or second (client/server) platforms ever did.
 http://www.cio.com/article/2377568/cloud-computing/as-idc-sees-it-tech-s-third-platform-disrupts-everyone.html

IDC themselves describes technology in 2014: 

"2014 will be all about pitched battles all across the 3rd Platform: in mobile devices and platforms, in cloud services, in Big Data and social technologies, in the datacenters that will support the 3rd Platform, in a new generation of industry-transforming killer solutions." www.idc.com/getdoc.jsp?containerId=244606


From http://www.cio.com/article/2376749/cloud-computing/software-is-eating-the-world-and-it-could-eat-your-business.html

Named by Wired.com as one of the 10 most influential people in cloud computing, Bernard Golden: 
"the prediction echoes the well-known 2011 Marc Andreessen WSJ editorial that proclaimed that software is eating the world. He noted how Amazon, Netflix and Pandora upended the retail, video and music industries by operating, at their heart, as software-based companies.

One might say the events of the past three years have only served to reinforce Andreessen's perspective. Today Airbnb and Uber are case studies proving success of algo-based businesses disrupting."</p>

    
        <div class="row">
          <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
          <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
          <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
        </div>
        
        <hr>
        
        <h2 id="talent">Talent</h2>
        <p>
          Images are responsive sed @mdo but sum are more fun peratis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
          totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
          sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut..</p>
        <p>
          Fos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
          sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut..</p>
        
        <hr>

        
        <h2 id="conclusion">Conclusion</h2>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
          totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
          sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut.</p>
      
        <hr>
      

        <h2 id="charts">Charts</h2>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
          totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
          sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut.</p>
      
        </div><!--/right-->
    </div><!--/row-->
</div><!--/container-->



</template>


<template name="sidebar">
  <ul class="nav nav-stacked" id="sidebar">
    <li><a href="#summary">Summary</a></li>
    <li><a href="#intro">Introduction</a></li>
    <li><a href="#software">Software Eating the World</a></li>
    <li><a href="#talent">Competition for Talent</a></li>
    <li><a href="#conclusion">Conclusion</a></li>
    <li><a href="#charts"><i class="fa fa-bar-chart"></i></a></li>
  </ul>
</template>

<template name="summary">
  <h2 id="summary">Summary</h2>
  <p>
    Risk appetite and capital flow are discussed in the context of creating a start-up culture in a rust belt city.  How to address the labour shortage of information, communitications and technology (ICT) sector in an aging city with sub-optimal educational infrastructure?
  </p>
</template>

<template name="intro">
  <h2 id="intro">Introduction</h2>
  <p>
    Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
  </p>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Hello.</h3></div>
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
          Aliquam in felis sit amet augue.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Hello.</h3></div>
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
          Aliquam in felis sit amet augue.
        </div>
      </div>
    </div>  
  </div>

</template>