<template name="homepage">
  <div id="masthead">  
    <div class="container">
        <div class="row">
          {{> masthead }}
        </div>
    </div>
  </div>

  <!--main essay content -->
  <div class="container">
    <div class="row">
        <!--left sidebar-->
        <div class="col-md-3" id="leftCol">
          {{> sidebar }}
        </div><!--/left-->
        
        <!--right essay content-->
        <div id="report-body"  class="col-md-9">
          {{> summary }}
          <hr>
          {{> intro }}
          <hr>
          {{> software }}
          <hr>
          {{> startups }}
          <hr>
          {{> talent }}
          <hr>
          {{> conclusion }}
          <hr>
          {{> charts }}

        </div><!--/right-->
      </div><!--/row-->
  </div><!--/container-->
</template>

<template name="masthead">
  <div class="col-md-7">
    <h1>Innovation, Technology and Capital
      <p class="lead">Why does Silicon Valley exist and why isn't its mixture of prosperity, innovation and venture capital easily reproduced? An essay on how to start a start-up ecosystem within a rust belt city.</p>
    </h1>
  </div>
  <div class="col-md-5">
      <div class="well well-lg"> 
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-4">
            <img src="db2014headshot.jpg" class="img-responsive">
          </div>
          <div class="col-sm-6">
            <p>by Derek Braid</p>
            <p>Web Development, Research and Data Visualization</p>
            <p><a href="http://www.cacheflow.ca/" target="_blank">cacheflow.ca</a></p>
            
            {{> social}}

          </div>
        </div>
      </div>
  </div>
</template>