<template name="intro">
  <h2 id="intro">Introduction</h2>

  <p>Population of Hamilton is close to total number of Canadians currently working in Silicon Valley (350,000).  In global market for talent, people vote with their feet and wallets.  Forget SV, Hamilton has to compete with Toronto and Kitchener-Waterloo (KW).  Even Buffalo attracting tech talent with $5 million start up competition[ref].</p>
  
  <p>Hamilton was a community built on steel manufacturing.  Legacy of previous entrepreneurs is visible throughout the city and along the QEW: clustering of industry sought by city planners and politicians to generate synergies and producing major economic benefits.</p>
  
  <p>Steel as its bread and butter for a century, bankrupt US Steel Canada (Stelco) will close it's doors permanently following an agonizing 90% reduction in headcount (~25k jobs lost since peak in 1981, ~2300 in 2014).  Their main pension plans are underfunded by $1.2 billion. www.thespec.com/news-story/4871463-from-steel-giant-to-this-how-did-we-get-here-/ </p> 
  
  <p>Resurrecting these jobs should not be a priority for innovative and forward-thinking city leaders. Dozens of existing government programs have failed to divert thousands from the welfare queues.  Enhancements to welfare and retraining apparatus have proven insufficient to help replace the lost jobs.  How much capital would be repurposed if existing programs were terminated, the funds reallocated into training software engineers with a 90% chance of employment after only 6 months?</p>

  <p>Global sales of TV sets, Personal Computer, smartphones, tablets, and video consoles over $750B (USD), almost double 2007. http://www.itworldcanada.com/blog/technology-predictions-for-the-coming-year/98336#ixzz3HHCysjDM .  All of the content on these devices is served by software provides.  Digital media is software, and software is digital media.</p> 



  <p>All cities should be actively promoting the establishment of technology community.  Fertile conditions for software start-ups like Silicon Valley, Waterloo et al are not made by accident.</p>  

  <p>Start-ups and entrepreneurs move where the money is: students and entrepreneurs are indebted and insecure about their futures, so they are risk averse.  Investors are also risk averse, utilizing their capital in more traditional investments like mutual funds and real estate.  Investors need to consider risk in terms of the future and not the past.</p>


    <p>Nascent strength in housing and persistent leadership in health care and education make up the Industry.  Manufacturing has been reduced to third fiddle, surpassed by FIRE and Ed's and Med's. 

[insert chart from http://www.hamiltoneconomicsummit.ca/hamilton-sectors.html]</p>

 {{> hamilton}}
 
</template>



<template name="hamilton">
<p>
  ## Start Up Culture

 ## Digital Entrepreneurship 

  There are no easy ways to make money online, but there many ways to try.

  Hamilton has many successful and thriving digital businesses.  Many of these firms are agencies with wonderful job creators who collaborate with SMBs.  The presence fo these digital professionals and their recent growth suggests an early trend that could use a nudge. 

  Hamilton has not seen large investments in technology, specifically software development and start ups, ever.  Certainly not on the magnitude of Toronto and Waterloo, even when adjusted for population and other factors.  Venture capital, and the large scale private investors in Hamilton have demonstrated a markedly more risk averse tendencies. {foo} 

 

## CAPITAL IN HAMILTON 

The Government of Canada spends more than $330 million on Youth Employment Strategy.  Hamilton has Real Estate investment has exceeded $230 million since 2012 alone!  An additional $130 million has been committed to West Harbour master plan (over next 10 years). www.thespec.com/news-story/4871588-waves-of-change/

Downtown Business Improvement Association - beginning 2012, over $100 million in real estate development ongoing.  Health Care and Education: $82 million of capital has been allocated to large, safe, and well established institutions.

www.thespec.com/news-story/5203582-couple-gives-5-million-to-juravinski/

$50 million from Mr. Degroote to McMaster Hospital.  $10 million from Mr. Lee-Chin to Joseph Brant. $10 million from Mr. Braley (2010) to Hamilton General Hospital (Cardiac Center), $5 million donation to Juravinski Hospital and Cancer Centre by Ron and Nancy Clark, another $3 million (2013) to Mohawk College (gym). $4 million from Hogarth family to Hamilton Community Foundation.  Red Wilson $5-million donation for the study and promotion of Canadian history at McMaster. $5 million over five years to support the "FloodNet network", develop advanced warning systems to help protect effects of floods.

Hamilton slated for nearly $1 billion in Provincial and Federal funding for transportation infrastructure. 

There is capital plenty of capital in Hamilton.  All capital is scare, and technology is not the only problem to be solved.  The issue with lack of innovation in Hamilton is simple: 

--limited supply of financial capital is invested in low-risk, low-reward projects and ventures. 

Real estate, education and health care dominate the capital flow.  Child and Youth development.  This absence of speculative capital funding entrepreneurial activities is a critical bottleneck for innovation. </p>

<h4>Hamilton has a major capital misallocation problem.</h4>

</template>