<template name="intro">
  <h2 id="intro">Introduction</h2>

  <p>Global sales of TV sets, Personal Computer, smartphones, tablets, and video consoles over $750B (USD), almost double 2007. http://www.itworldcanada.com/blog/technology-predictions-for-the-coming-year/98336#ixzz3HHCysjDM </p> 

  <p>Population of Hamilton is roughly 500,000 people, an amount that barely exceeds the number of Canadians currently working in Silicon Valley (350,000).  A global market for talent, people vote with their feet and wallets.  Forget SV, Hamilton has to compete with Toronto and Kitchener-Waterloo (KW).  Even Buffalo attracting tech talent with $5 million start up competition[ref].</p>

  <p>Hamilton has survived one of it's principal employers (Stelco, now US Steel) reducing their labour force by 90%. Aprox 25,000 jobs lost since peak 1981 (26,263 to 9,700 in 2004 — when the company entered creditor protection — to just over 2,300 in 2014).  Their four main pension plans are underfunded by $1.2 billion. 
  www.thespec.com/news-story/4871463-from-steel-giant-to-this-how-did-we-get-here-/
  </p>

  <p>Hamilton was a community whose bread and butter was making steel raw steel, and entrepreneurs of years passed formed an ecosystem around them: transportation, custom metal fab, storage and processing innovations.  We cannot make light of the decline of steel in Hamilton since many businesses continue to thrive in this environment with geographically diverse and prudent operations.  The people work hard and many great Canadians operate global businesses with priorities in Hamilton.</p>

  <p>But there are many ways this city can improve. The tech community is behind neighboring cities.  Conditions are not ripe for start ups or entrepreneurship. Students and entrepreneurs are indebted and insecure about their futures, so they are risk averse.  Investors are also risk averse, utilizing their capital in more traditional investments like mutual funds and real estate.  Investors need to consider risk in terms of the future and not the past.</p>

  <p>Steel as its bread and butter for a century(?), and will soon close it's doors permanently.  Their plight is significant, but these are not job of the future, nor should they be a priority for innovative and forward thinking city leaders.  They are dozens of existing government programs to assist those transitioning careers, let them do their jobs.  If you feel required to intervene because the existing welfare and retraining apparatus is insufficient to help these people, then all of the existing programs should immediately be terminated, with the funds used for their former operations being diverted into the unemployment pool. 
    </p>

    <p>Nascent strength in housing and persistent leadership in health care and education make up the Industry.  Manufacturing has been reduced to third fiddle, surpassed by FIRE and Ed's and Med's. 

[insert chart from http://www.hamiltoneconomicsummit.ca/hamilton-sectors.html]</p>

 {{> hamilton}}
 
</template>



<template name="hamilton">
<p>
  ## Start Up Culture

 ## Digital Entrepreneurship 

  There are no easy ways to make money online, but there many ways to try.

  Hamilton has many successful and thriving digital businesses.  Many of these firms are agencies with wonderful job creators who collaborate with SMBs.  The presence fo these digital professionals and their recent growth suggests an early trend that could use a nudge. 

  Hamilton has not seen large investments in technology, specifically software development and start ups, ever.  Certainly not on the magnitude of Toronto and Waterloo, even when adjusted for population and other factors.  Venture capital, and the large scale private investors in Hamilton have demonstrated a markedly more risk averse tendencies. {foo} 

 

## CAPITAL IN HAMILTON 

The Government of Canada spends more than $330 million on Youth Employment Strategy.  Hamilton has Real Estate investment has exceeded $230 million since 2012 alone!  An additional $130 million has been committed to West Harbour master plan (over next 10 years). www.thespec.com/news-story/4871588-waves-of-change/

Downtown Business Improvement Association - beginning 2012, over $100 million in real estate development ongoing.  Health Care and Education: $77 million of capital has been allocated to large, safe, and well established institutions.

$50 million from Mr. Degroote to McMaster Hospital.  $10 million from Mr. Lee-Chin to Joseph Brant. $10 million from Mr. Braley (2010) to Hamilton General Hospital (Cardiac Center), another $3 million (2013) to Mohawk College (gym). $4 million from Hogarth family to Hamilton Community Foundation.

Hamilton slated for nearly $1 billion in Provincial and Federal funding for transportation infrastructure. 

There is capital plenty of capital in Hamilton.  All capital is scare, and technology is not the only problem to be solved.  The issue is simple: 

the limited supply of financial capital is invested in low-risk, low-reward projects and ventures. 

Real estate, education and health care.  Child and Youth development.  This absense of speculative capital funding entreneurial activiites is a critical bottleneck for innovation.  
follow the capital. </p>
</template>