<template name="intro">
  <h2 id="intro">Introduction</h2>
  {{> speculativeCapital }}

  <p>Population of Hamilton is close to total number of Canadians currently working in Silicon Valley (350,000).  In global market for talent, people vote with their feet and wallets.  Forget SV, Hamilton has to compete with Toronto and Kitchener-Waterloo (KW).  Even Buffalo attracting tech talent with $5 million start up competition[ref].</p>
  
  <p>Hamilton was a community built on steel manufacturing.  Legacy of previous entrepreneurs is visible throughout the city and along the QEW: clustering of industry sought by city planners and politicians to generate synergies and producing major economic benefits.</p>
  
  <p>Steel as its bread and butter for a century, bankrupt US Steel Canada (Stelco) will close it's doors permanently following an agonizing 90% reduction in headcount (~25k jobs lost since peak in 1981, ~2300 in 2014).  Their main pension plans are underfunded by $1.2 billion. www.thespec.com/news-story/4871463-from-steel-giant-to-this-how-did-we-get-here-/ </p> 
  
  <p>Resurrecting these jobs should not be a priority for innovative and forward-thinking city leaders. Dozens of existing government programs have failed to divert thousands from the welfare queues.  Enhancements to welfare and retraining apparatus have proven insufficient to help replace the lost jobs.  How much capital would be repurposed if existing programs were terminated, the funds reallocated into training software engineers with a 90% chance of employment after only 6 months?</p>

  <h4>Better way: Bootcamps</h4>

  <p>Global sales of TV's, PC's, smartphones, tablets, and video consoles over <a href="http://www.itworldcanada.com/blog/technology-predictions-for-the-coming-year/98336#ixzz3HHCysjDM" target="_blank">$750 Billion USD</a> in 2014, almost <strong>double</strong> 2007. All of the content on these devices is served by software providers.  Digital media is software, and software is digital media.  Software is not just 'apps', it is eating the world.</p> 

  <p>All cities should be actively promoting the establishment of technology community.  Fertile conditions for software start-ups like Silicon Valley, Waterloo et al are not made by accident.</p>  

  <p>Start-ups and entrepreneurs move where the money is: students and entrepreneurs are indebted and insecure about their futures, so they are risk averse.  Investors are also risk averse, utilizing their capital in more traditional investments like mutual funds and real estate.  Investors need to consider risk in terms of the future and not the past.</p>


    <p>Nascent strength in housing and persistent leadership in health care and education make up the Industry.  Manufacturing has been reduced to third fiddle, surpassed by FIRE and Ed's and Med's. 

[insert chart from http://www.hamiltoneconomicsummit.ca/hamilton-sectors.html]</p>

 {{> hamilton}}
 
</template>



<template name="hamilton">
<p>
  ## Start Up Culture

 ## Digital Entrepreneurship 

  There are no easy ways to make money online, but there many ways to try.

  Hamilton has many successful and thriving digital businesses.  Many of these firms are agencies with wonderful job creators who collaborate with SMBs.  The presence fo these digital professionals and their recent growth suggests an early trend that could use a nudge. 

  Hamilton has not seen large investments in technology, specifically software development and start ups, ever.  Certainly not on the magnitude of Toronto and Waterloo, even when adjusted for population and other factors.  Venture capital, and the large scale private investors in Hamilton have demonstrated a markedly more risk averse tendencies. {foo} 

 

## CAPITAL IN HAMILTON 

The Government of Canada spends more than $330 million on Youth Employment Strategy.  Hamilton has Real Estate investment has exceeded $230 million since 2012 alone!  An additional $130 million has been committed to West Harbour master plan (over next 10 years). www.thespec.com/news-story/4871588-waves-of-change/

Downtown Business Improvement Association - beginning 2012, over $100 million in real estate development ongoing.  Health Care and Education: $82 million of capital has been allocated to large, safe, and well established institutions.

www.thespec.com/news-story/5203582-couple-gives-5-million-to-juravinski/

$50 million from Mr. Degroote to McMaster Hospital.  $10 million from Mr. Lee-Chin to Joseph Brant. $10 million from Mr. Braley (2010) to Hamilton General Hospital (Cardiac Center), $5 million donation to Juravinski Hospital and Cancer Centre by Ron and Nancy Clark, another $3 million (2013) to Mohawk College (gym). $4 million from Hogarth family to Hamilton Community Foundation.  Red Wilson $5-million donation for the study and promotion of Canadian history at McMaster. $5 million over five years to support the "FloodNet network", develop advanced warning systems to help protect effects of floods.

Hamilton slated for nearly $1 billion in Provincial and Federal funding for transportation infrastructure. 

There is capital plenty of capital in Hamilton.  All capital is scare, and technology is not the only problem to be solved.  The issue with lack of innovation in Hamilton is simple: 

--limited supply of financial capital is invested in low-risk, low-reward projects and ventures. 

Real estate, education and health care dominate the capital flow.  Child and Youth development.  This absence of speculative capital funding entrepreneurial activities is a critical bottleneck for innovation. </p>

<h4>Hamilton has a major capital misallocation problem.</h4>

</template>

<template name="speculativeCapital">
  <h3>Speculative Capital</h3>
  <p>Insufficient capital is a major choke point for entrepreneurs.  Creating a tech hub requires investment in risky start-up ventures on the order of Millions, if not Billions, of dollars.  Capital provides a <strong>runway</strong> or protective moat around which businesses can safely take risks and grow.</p>
  
  <blockquote>"A hugely profitable investment that doesn't begin with discomfort is usually an oxymoron." -- Howard Marks</blockquote>
  
  <h3>Web browsers are the dominant delivery system for software.  Mobile phones and interconnectedness of all physical devices (Internet of Things) is being driven by software-as-a-service served through apps and web browsers. </h3>  
  <p>Success rates are lower commercializing scalable (global)solutions, but these major firms are vital seed to tech-oriented start ups.</p>
  <p>It's major wins -- like Nortel, Blackberry, Hootsuite, Shopify, etc) that create a sustainable tech ecosystem because it allows capital to multiply exponentially.  Accelerators and incubators have funny names, but they're just a comfortable place for ambitious professionals to work on solving huge problems.  Venture capital is a runway for these problem solvers.  A nominal, short-term safety net to research and develop.</p>
  <p>Ideas are worthless, execution is everything.  Small amounts of funds to many medium sized batches of start ups will lead to large returns.  Providing   What accellorators and inucbators have proven is that a small amount of capital can lead to major success, and relatively quickly. </p>

  <p>Great ideas are driven by exceptional founders, talent that is in scare supply.  Without the risk capital to allow our brightest to tackle large problems there are no big wins.</p>

  <p>Consider Msc and PHDs.  We have evidence showing academia, particularly in STEM fields, gives birth to a disproportionate amount of winning start ups.  Why?</p>

  <ol>
    <li>Smart, motivated, technically competent people.</li>
    <li>Incubation in the lab.  Healthy risk taking, support systems.</li>
    <li>Enough funding to survive and pursue a deeply personal problem/important issue</li>
  </ol>

  <p>Technical competancy makes you 10x more likely to start a sucessful start up.  At least it gives you 10x better chance to get in the door, and get funded. There are numerous reasons for this.  The two most vital the scarcity of techincal talent overall, and the mental make up of people techincal backgrounds. </p>
</template>