<template name="summary">
  <h2 id="summary">Summary</h2>
  <p>
    Risk appetite and capital flow are discussed in the context of creating a start-up culture in a rust belt city.  A solution to the shortage of technical talent is proposed.  Evidence from various flourishing small business ecosystems are used to explore best practices for tech-driven innovation, specifically by focusing on disruptive software.
  </p>
  
  {{> summaryPanel }}

  <p>Startups can loosely be described as businesses that use software to disrupt something technologically stale.  Ideal target industries include those which are <strong>small, but rapidly growing</strong>, or very large but extremely burdened by technical debt.</p>
  <p>It's never been cheaper or easier to solve multi-billion dollar problems with code:  $300 laptop, Internet connection, domain expertise and (optionally) seed capital is all one needs to build a substantial global enterprise.</p>
  <p>Given ubiquity of laptops and internet connections, <strong>speculative capital (seed, venture, etc) and software developers</strong> will be our focus.</p>
</template>

<template name="summaryPanel">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="text-center">Steel to Start Ups</h3></div>
        <div class="panel-body">How to grow a world-class tech industry in #hamont?  Ideas are easy, building businesses hard.  Absent large organic success, start ups are scarce, industry growth remains linear.  Real compounding growth is achieved only when capital can multiply and subsequently redistribute among the community.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="text-center">Steal from Great Cities</h3></div>
        <div class="panel-body">Lessons from Waterloo, Toronto, Austin, Chicago, Vancouver and Buffalo.  Talent is the bottleneck.  Training engineers is a global crisis.  How can we get more STEM-like grads faster and cheaper:  Open source software, MOOCs and coding schools.
        </div>
      </div>
    </div>  
  </div>
</template>