<template name="summary">
  <h2 id="summary">Summary</h2>
  <p>
    Risk appetite and capital flow are discussed in the context of creating a start-up culture in a rust belt city.  A solution to the shortage of technical talent is proposed.  Evidence from various flourishing small business ecosystems are used to explore best practices for tech-driven innovation, specifically by focusing on disruptive software.
  </p>

  {{> summaryPanel }}
  
  

  {{> runway }}

  
</template>



<template name="summaryPanel">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Steel to Start Ups</h3></div>
        <div class="panel-body">How to grow a world-class tech industry in #hamont?  Ideas are easy, building businesses hard.  Absent large organic success, start ups are scarce, industry growth remains linear.  Real compounding growth is achieved only when capital can multiply and subsequently redistribute among the community.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Steal from Great Cities</h3></div>
        <div class="panel-body">Lessons from Waterloo, Toronto, Austin, Chicago, Vancouver and Buffalo.  Talent is the bottleneck.  Training engineers is a global crisis.  How can we get more STEM-like grads faster and cheaper:  Open source software, MOOCs and coding schools.
        </div>
      </div>
    </div>  
  </div>

</template>


<template name="runway">
<h3>some headline text</h3>
  <p>With many successful tech firms of various sizes, a lack of speculative capital for technological innovation is major choke point for entrepenuers in Hamilton. caps the potential of is a principle reason for a Hamilton.  This capital is what provides the incubation periods that grad students enjoy/suffer.  Their hard work can be rewarded with large upside.</p>
  <blockquote>"A hugely profitable investment that doesn't begin with discomfort is usually an oxymoron." -- Howard Marks</blockquote>
  <p>Start ups can loosely be described as businesses that use software to disrupt something technologically stale.  Ideally the market is small, but rapidly growing, or very large and extremely outdated. Targeting large multi-billion dollar problems is not just a dream but a practical reality for software businesses in 2014.</p>
  
  <h3>Web browsers are the dominant delivery system for software.  Mobile phones and interconnectedness of all physical devices (Internet of Things) is being driven by software-as-a-service served through apps and web browsers. </h3>  
  <p>Success rates are lower commercializing scalable (global)solutions, but these major firms are vital seed to tech-oriented start ups.</p>
  <p>It's major wins -- like Nortel, Blackberry, Hootsuite, Shopify, etc) that create a sustainable tech ecosystem because it allows capital to multiply exponentially.  Accelerators and incubators have funny names, but they're just a comfortable place for ambitious professionals to work on solving huge problems.  Venture capital is a runway for these problem solvers.  A nominal, short-term safety net to research and develop.</p>
  <p>Ideas are worthless, execution is everything.  Small amounts of funds to many medium sized batches of start ups will lead to large returns.  Providing   What accellorators and inucbators have proven is that a small amount of capital can lead to major success, and relatively quickly. </p>

  <p>Great ideas are driven by exceptional founders, talent that is in scare supply.  Without the risk capital to allow our brightest to tackle large problems there are no big wins.</p>

  <p>Consider Msc and PHDs.  We have evidence showing academia, particularly in STEM fields, gives birth to a disproportionate amount of winning start ups.  Why?</p>

  <ol>
    <li>Smart, motivated, technically competent people.</li>
    <li>Incubation in the lab.  Healthy risk taking, support systems.</li>
    <li>Enough funding to survive and pursue a deeply personal problem/important issue</li>
  </ol>

  <p>Technical competancy makes you 10x more likely to start a sucessful start up.  At least it gives you 10x better chance to get in the door, and get funded. There are numerous reasons for this.  The two most vital the scarcity of techincal talent overall, and the mental make up of people techincal backgrounds. </p>

</template>