<template name="summary">
  <h2 id="summary">Summary</h2>
  <p>
    Risk appetite and capital flow are discussed in the context of creating a start-up culture in a rust belt city.  How to address the labour shortage of information, communications and technology (ICT) sector in an aging city with sub-optimal educational infrastructure?
  </p>

  {{> summaryPanel }}

  <p>The lack of speculative capital for technological innovation is a principle reason for the absence of meaningful tech innovation in Hamilton.  This capital is what provides the incubation periods that grad students enjoy/suffer.  Their hard work can be rewarded with large upside.</p>
  <blockquote>"A hugely profitable investment that doesn't begin with discomfort is usually an oxymoron." -- Howard Marks</blockquote>
  <p>Businesses that (mostly) use software to disrupt something technologically stale.  Billion dollar problems.  Hit rates are lower, but major wins occur.</p>
  <p>It's major wins that create a sustainable tech ecosystem because it allows capital to multiply exponentially.  Accelerators and incubators have funny names, but they're just a comfortable place for ambitious professionals to work on solving huge problems.  Venture capital is a runway for these problem solvers.  A nominal, short-term safety net to research and develop.</p>

  {{> runway }}

  
</template>



<template name="summaryPanel">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Steel to Start Ups</h3></div>
        <div class="panel-body">How to grow a world-class tech industry in #hamont?  Ideas are easy, building businesses hard.  Absent large organic success, start ups are scarce, industry growth remains linear.  Real compounding growth is achieved only when capital can multiply and subsequently redistribute among the community.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Steal from Great Cities</h3></div>
        <div class="panel-body">Lessons from Waterloo, Toronto, Austin, Chicago, Vancouver and Buffalo.  Talent is the bottleneck.  Training engineers is a global crisis.  How can we get more STEM-like grads faster and cheaper:  Open source software, MOOCs and coding schools.
        </div>
      </div>
    </div>  
  </div>

</template>


<template name="runway">
  <p>Ideas are worthless, execution is everything.  Small amounts of funds to many medium sized batches of start ups will lead to large returns.  Providing   What accellorators and inucbators have proven is that a small amount of capital can lead to major success, and relatively quickly. </p>

  <p>Great ideas are driven by exceptional founders, talent that is in scare supply.  Without the risk capital to allow our brightest to tackle large problems there are no big wins.</p>

  <p>Consider Msc and PHDs.  We have evidence showing academia, particularly in STEM fields, gives birth to a dispropotionation amount of winning start ups.  Why?</p>

  <ol>
    <li>Smart, motivated, technically competent people.</li>
    <li>Incubation in the lab.  Healthy risk taking, support systems.</li>
    <li>Enough funding to survive and pursue a deeply personal problem/important issue</li>
  </ol>

  <p>Technical competancy makes you 10x more likely to start a sucessful start up.  At least it gives you 10x better chance to get in the door, and get funded. There are numerous reasons for this.  The two most vital the scarcity of techincal talent overall, and the mental make up of people techincal backgrounds. </p>

</template>