<template name="navbar">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a id="navbar-home-icon" class="navbar-brand" href="{{ pathFor 'homepage'}}">
                <i class="fa fa-home fa-2x"></i>
            </a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <a class="navbar-brand pull-right" href="{{ pathFor 'contact'}}">
                <i class="fa fa-envelope-square fa-2x"></i>
            </a>
        </div>
    </nav>
</template>