<template name="social">
    <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
      
      <a href="http://www.cacheflow.ca/" target="_blank"><i class="fa fa-home"></i></a>
      <a href="http://ca.linkedin.com/pub/derek-braid/6/613/326/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
      <a href="https://github.com/DeBraid" target="_blank"><i class="fa fa-github-square"></i></a>
      <a href="https://twitter.com/Royal_Arse" target="_blank"><i class="fa fa-twitter-square"></i></a>

    </div>
</template>